a{
	text-decoration:none
}
body {
    font-family: Arial, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.Wrapper{
    display: grid;
    grid-template-areas:
    "header"
    "banner"
    "main"
    "footer";
grid-template-columns:1fr; 
grid-auto-rows: 50px 500px auto 100px;
}

.header {
grid-area: header;
display: grid;
    grid-template-areas:
    "head"
    "nav";
grid-template-columns:1fr 1fr;
grid-auto-rows: 50px;
background-color: #20B2AA ;
margin:0;
}

.header img{
    margin:10px 10px;
}
nav a{
    text-decoration:none;
}

.top-menu {
    text-align: right;
}

.top-menu li {
    display: inline-block;
    padding: 10px 10px;
    margin: 0;
}

.top-menu li.active {
    color: #fff;
}

.top-menu a {
    color:white;
}

nav ul{
    margin:0;
    padding:0;
}

nav li{
    list-style-position:inside;
    font:14px 'Oswald',sans-serif;
    padding:10px;
}

h1 {
	font-size: 55px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
    padding-top: 30px;
}

.banner{
    grid-area: banner;
    padding:200px 0px;
    text-align: center;
    background-color: #008080 ;
    color:white;
    background: url(../images/Pirog.png) no-repeat center top / cover;
    height: 10vh;
}

.banner header{
    font: 50px 'Lato',open-sans;
    color:black;
}

p2{
    font: 20px 'Lato',open-sans;
    color:black;
}

.banner button{
    margin: 30px;
    padding:10px 20px;
    border:0;
    background-color:#549480;
    text-decoration:none;
}
.banner a{
    text-decoration:none;
    font: 15px 'Lato',open-sans;
    color:white;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main p{
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
    color: black;
}

.recipe__ingredient {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: #1d211f;
    text-align: left;
    border-bottom: 1px solid #e7e9e7;
    padding: 3px 0 5px;
}

.recipe__step	{
    font-size: 16px;
    line-height: 1.5;
	width: 300px;
	float: left;
	text-align: center;
}

.recipe__step h3 {
	font-size: 18px;
	margin-bottom: 5px;
    color: black;
}

.recipe__step p {
	color: #777777;
	font-size: 16px;
	line-height: 1.5;
}

.footer {
    display: flex;
    justify-content:space-evenly;
    background-color: #008080 ;
    font:10px 'Lato',open-sans;
    color:white;
}
.footer div a{
    color:white;
    font:10px 'Lato',open-sans;
}
.footer header{
    font:15px 'Lato',open-sans;

}

.cl1{
    grid-area: cl1;
    word-break:break-all;
}
.cl2{
    grid-area: cl2;
    word-break:break-all;
}
.cl3{
    grid-area: cl3;
    word-break:break-all;
}
.cl4{
    grid-area: cl4;
    word-break:break-all;
}
.cl5 {
    order:2;
}

