body {
    font-family: Arial, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

header {
    color: #e7e9e7;
    height: 90px;
    background-color: rgb(157, 7, 48);
}

div {
    box-sizing: border-box;
}

.logo {
    margin-top: 35px;
    float: left;
}
nav {
    float: right;
    margin-top: 35px;
    margin-bottom: 35px;
}

.top-menu {
    padding: 0;
    margin: 0;
    display: block;
}

.top-menu li {
    float: left;
    display: block;
    margin-right: 40px;
}

.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}

.top-menu a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.banner{
    text-align: center;
    color:white;
    background: url(../images/Pirog.png) no-repeat center top / cover;
    height: 500px;
    display: grid;
    width: 100%;
    clear: both;
}

.title_first {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 190px;
}

p2{
    font-size: 20px;
    color:black;
}

.banner a{
    text-decoration:none;
    font-size: 15px;
    color:white;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.container_recipe {
    margin-top: 30px;
}

.main {
    display: grid;
}

.main p{
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
    color: black;
}

.recipe__ingredient {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: #1d211f;
    text-align: left;
    border-bottom: 1px solid #e7e9e7;
    padding: 3px 0 5px;
}

.recipe__step	{
    font-size: 16px;
    line-height: 1.5;
	width: 300px;
	float: left;
	text-align: center;
}

.recipe__step h3 {
	font-size: 18px;
	margin-bottom: 5px;
    color: black;
}

.recipe__step p {
	color: #777777;
	font-size: 16px;
	line-height: 1.5;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(157, 7, 48);
    font-size:10px;
    color:white;

}
.footer div a{
    color:white;
}
.footer h4{
    font-size:15px;
}

.column1{
    grid-area: cl1;
    word-break:break-all;
}

.column2{
    grid-area: cl3;
    word-break:break-all;
}
.column3{
    grid-area: cl4;
    word-break:break-all;
}

.column4 {
    margin-top: 50px;
    order:2;
}

