body {
    font-family: Arial, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

header {
    color: #e7e9e7;
    height: 90px;
    background-color: rgb(203, 206, 211);
}
.logo {
    margin-top: 35px;
    float: left;
}
nav {
    float: right;
    margin-top: 35px;
    margin-bottom: 35px;
}

.top-menu {
    padding: 0;
    margin: 0;
    display: block;
}

.top-menu li {
    float: left;
    display: block;
    margin-right: 40px;
}

.top-menu li.active {
    background: #87a162;
    color: #fff;
    border-radius: 2px;
}

.top-menu a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main{
    display: block;
    background: url(../images/syr_background.jpeg) no-repeat center top / cover;;
    padding-top: 30px;
    padding-bottom: 30px;
}

form {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #cbced3;
    border-radius: 5px;
    padding: 10px;
    width: 800px;
}

form p{
    color: black;
    font-size: 14px;
}

legend {
    color: black;
}

textarea {
    width: 100%;
    padding-top: 16px;
    border-radius: 4px;
}
input {
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid #777777;
    width: 100%;
    background-color: #cbced3;
    border-radius: 4px;
}
select{
    border: none;
    border-bottom: 1px solid #777777;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: #cbced3;
}

button {
    background-color: rgb(135, 161, 98);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

fieldset {
    padding: 40px;
}

.facts a {
    color: white;
    background-color: rgba(135, 161, 98, 0.8);
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

.facts p {
    color: white;
    background-color: rgba(135, 161, 98, 0.8);;
    font-size: 15px;
    border-radius: 4px;
}


.footer {
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(203, 206, 211);
    font-size:10px;
    color:white;
}
.footer div a{
    color:white;
}
.footer h4{
    font-size:15px;
}

.column1{
    grid-area: cl1;
    word-break:break-all;
}

.column2{
    grid-area: cl3;
    word-break:break-all;
}
.column3{
    grid-area: cl4;
    word-break:break-all;
}

.column4 {
    margin-top: 50px;
    order:2;
}
